.topBar {
    width: 100%;
    height: 30px;
    display: flex;
    -webkit-user-select: none;
}

.text {
    position: relative;
    display: inline;
    line-height: 30px;
    font-size: 11.75px;
    font-family: "Segoe UI";
    color: black;
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: 0px;
}
